{% extends "base.html" %}
{% load staticfiles %}
{% block head_extra %}
<style>
	#map {
		height: 600px;
		width: 90%;
		position: relative;
	}
	.MIinfo {

	}
	.MIbody {

	}
</style>{% endblock head_extra %}
{% block style %}{% endblock style %}


{% block content %}

<div class="row"><!--row1-->
	<div class="col-lg-12"><!--row1 col1-->
		<h2>poop</h2>
		<h3>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</h3>

	</div>
</div><!--end row1-->

<br />

<h3>My Google Maps Demo</h3>
<div id="map"></div>
<br />

<script>
  function initMap() {

	var lancaster_uni = {lat: 54.0084603, lng: -2.7865918}
	var lancaster = {lat: 54.0441576, lng: -2.8361623}
	var lancaster_golf = {lat: 54.026064, lng: -2.82212}

	var map = new google.maps.Map(document.getElementById('map'), {
	  zoom: 12,
	  center: lancaster
  })

	var directionsService = new google.maps.DirectionsService()

	var directionsDisplay = new google.maps.DirectionsRenderer({
  		map: map
	})

	var contentString =
		'<div id="MI">'+
		'<div id="MIbody">'+
		'<p><b>Some</b> place in lancaster</p>'+
		'<p> between two other places.</p>'+
		'<a href="http://news.lancs.ac.uk/web/news/pages/7f38b310f06e92db80257663006e0bdd.aspx"><img src="http://news.lancs.ac.uk/Web/News/publishingimages/Imported/C34.jpg" alt="Photo of a place" height="250" width="250" /></a>'+
		'    '+
		'<a href="https://www.englandgolf.org/golfcentral/clubImages/E10000408/Lancaster-3.jpg"><img src="https://www.englandgolf.org/golfcentral/clubImages/E10000408/Lancaster-3.jpg" alt="Another photo" height="250" width="250" /></a>'+
		'</div>'+
		'</div>';

	var marker1 = new google.maps.Marker({
	  position: lancaster_golf,
	  map: map,
	  title: "unlikely!",			// hover text
	  label: "A Good Place",  // puts text on map
	})

	// var marker2 = new google.maps.Marker({
  	//   position: lancaster_uni,
  	//   map: map
	// });
	// var marker3 = new google.maps.Marker({
	//   position: lancaster,
	//   map: map
	// });


	  var infowindow = new google.maps.InfoWindow({
	    content: contentString
	  });

	  marker1.addListener('click', function() {
  		infowindow.open(map, marker1);
		// add toggle to remove infowindow on repeat click
		// put up gallery underneath that stays until replaced
	})

displayRoute(directionsService, directionsDisplay, lancaster, lancaster_uni);
  }

  function displayRoute(directionsService, directionsDisplay, lancaster, lancaster_uni) {

    var request = {
        origin : lancaster,
        destination : lancaster_uni,
        travelMode : google.maps.TravelMode.WALKING
    };


    directionsService.route(request, function(response, status) {
        if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
        }
		else {
      window.alert('Directions request failed due to ' + status);
  		}
    });
	}
</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key={{map_api_key}}&callback=initMap">
</script>

<br />

<div class="row"><!--row2-->
  <div class="col-lg-6"><!--row2 col1-->
	<h4>Subheading</h4>
	<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

	<h4>Subheading</h4>
	<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

	<h4>Subheading</h4>
	<p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>

  <div class="col-lg-6"><!--row2 col2-->
	<h4>Subheading</h4>
	<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

	<h4>Subheading</h4>
	<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

	<h4>Subheading</h4>
	<p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>
</div><!--end row2-->


<script>
$( function() {

});
</script>
{% endblock content %}
