{% extends "base.html" %}
{% load staticfiles %}
{% block head_extra %}
<style>
   #map {
	height: 500px;
	width: 75%;
	position: relative;
   }
</style>{% endblock head_extra %}
{% block style %}{% endblock style %}


{% block content %}

<div class="row"><!--row1-->
	<div class="col-lg-12"><!--row1 col1-->
		<h2>poop</h2>
		<h3>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</h3>

	</div>
</div><!--end row1-->

<br />

<h3>My Google Maps Demo</h3>
<div id="map"></div>
<br />

<script>
  function initMap() {

	var lancaster_uni = {lat: 54.0084603, lng: -2.7865918}
	var lancaster = {lat: 54.0441576, lng: -2.8361623}
	var lancaster_golf = {lat: 54.026064, lng: -2.82212}

	var map = new google.maps.Map(document.getElementById('map'), {
	  zoom: 12,
	  center: lancaster
  })

	var directionsService = new google.maps.DirectionsService()

	var directionsDisplay = new google.maps.DirectionsRenderer({
  		map: map
	})

	var marker1 = new google.maps.Marker({
	  position: lancaster_golf,
	  map: map,
	  title: "unlikely!",			// hover text
	  label: "a good place",  // puts text on map
	})

	// var marker2 = new google.maps.Marker({
  	//   position: lancaster_uni,
  	//   map: map
	// });
	// var marker3 = new google.maps.Marker({
	//   position: lancaster,
	//   map: map
	// });
	var contentString = '<div id="content">'+
	      '<div id="siteNotice">'+
	      '</div>'+
	      '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
	      '<div id="bodyContent">'+
	      '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
	      'sandstone rock formation in the southern part of the '+
	      'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+
	      'south west of the nearest large town, Alice Springs; 450&#160;km '+
	      '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major '+
	      'features of the Uluru - Kata Tjuta National Park. Uluru is '+
	      'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
	      'Aboriginal people of the area. It has many springs, waterholes, '+
	      'rock caves and ancient paintings. Uluru is listed as a World '+
	      'Heritage Site.</p>'+
	      '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
	      'https://en.wikipedia.org/w/index.php?title=Uluru</a> '+
	      '(last visited June 22, 2009).</p>'+
	      '</div>'+
	      '</div>';

	  var infowindow = new google.maps.InfoWindow({
	    content: contentString
	  });

	  marker.addListener('click', function() {
  infowindow.open(map, marker);
});

displayRoute(directionsService, directionsDisplay, lancaster, lancaster_uni);
  }

  function displayRoute(directionsService, directionsDisplay, lancaster, lancaster_uni) {

    var request = {
        origin : lancaster,
        destination : lancaster_uni,
        travelMode : google.maps.TravelMode.WALKING
    };


    directionsService.route(request, function(response, status) {
        if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
        }
		else {
      window.alert('Directions request failed due to ' + status);
  		}
    });
	}
</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key={{map_api_key}}&callback=initMap">
</script>

<br />

<div class="row"><!--row2-->
  <div class="col-lg-6"><!--row2 col1-->
	<h4>Subheading</h4>
	<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

	<h4>Subheading</h4>
	<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

	<h4>Subheading</h4>
	<p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>

  <div class="col-lg-6"><!--row2 col2-->
	<h4>Subheading</h4>
	<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

	<h4>Subheading</h4>
	<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

	<h4>Subheading</h4>
	<p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>
</div><!--end row2-->


<script>
$( function() {

});
</script>
{% endblock content %}
