{% extends "base.html" %}
{% load staticfiles %}
{% block head_extra %}{% endblock head_extra %}
{% block style %}{% endblock style %}

{% block content %}

<div class="wrapper1">
	<div class="One1">
		<div>
			<h2>My project</h2>
			<h3>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</h3>
			<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
				Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
				Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
				Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
			<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
				Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
				Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
				Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
		</div>
		<br />
		<div style="padding-left: 5rem">
			<iframe src="/projects/actinide_water_abs/#/" width="85%" height="525" marginheight="0" allowfullscreen="true" marginwidth="0" id="show" style="border:medium solid white">gt</iframe>
			<br />
			<button>Play Slideshow</button>
			<button>Pause Slideshow</button>
			<button>Fullscreen</button>
		</div>
		<br />
		<div>
			<h3>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</h3>
			<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
				Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
				Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
				Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
			<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
				Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
				Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
				Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
		</div>
		<br />
		<div style="padding-left: 5rem">
			<img src="https://t5.rbxcdn.com/b14db0efcb777159272cfb28f766d369" alt="Smiley face" height="400" width="400" />
		</div>
	</div>

	<br />


	<div class="Two1">
		<h2>Project 2</h2>
		<h3>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</h3>

	</div>
	<br />

</div>

{% endblock content %}
