{% extends "base.html" %}
{% load staticfiles %}
{% block head_extra %}{% endblock head_extra %}
{% block style %}{% endblock style %}


{% block content %}

<div class="row"><!--row1-->
	<div class="col-lg-12"><!--row1 col1-->
		<h2>poop</h2>
		<h3>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</h3>

	</div>
</div><!--end row1-->

<br />

<div class="row"><!--row2-->
  <div class="col-lg-6"><!--row2 col1-->
	<h4>Subheading</h4>
	<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

	<h4>Subheading</h4>
	<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

	<h4>Subheading</h4>
	<p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>

  <div class="col-lg-6"><!--row2 col2-->
	<h4>Subheading</h4>
	<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

	<h4>Subheading</h4>
	<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

	<h4>Subheading</h4>
	<p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>
</div><!--end row2-->

<br />

<div class="row"><!--row3--><!--row3 col1-->
  	<div class="col-lg-4">
		<h4>Subheading</h4>
		<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

		<h4>Subheading</h4>
		<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

		<h4>Subheading</h4>
		<p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
	</div>

  <div class="col-lg-4"><!--row3 col2-->
	<h4>Subheading</h4>
	<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

	<h4>Subheading</h4>
	<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

	<h4>Subheading</h4>
	<p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>

	<div class="col-lg-4"><!--row3 col3-->
  	<h4>Subheading</h4>
  	<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

  	<h4>Subheading</h4>
  	<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

  	<h4>Subheading</h4>
  	<p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>
 </div>
</div><!--end row3-->

<br />

<div class="row"><!--row3-->
  	<div class="col-lg-2"><!--row4 col1-->
		<h4>Subheading</h4>
		<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

		<h4>Subheading</h4>
		<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

		<h4>Subheading</h4>
		<p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
	</div>

  <div class="col-lg-8"><!--row4 col2-->
	<h4>Subheading</h4>
	<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum. Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
	Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

	<h4>Subheading</h4>
	<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
	Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

	<h4>Subheading</h4>
	<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna.
	Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>

	<div class="col-lg-2"><!--row4 col3-->
  	<h4>Subheading</h4>
  	<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

  	<h4>Subheading</h4>
  	<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

  	<h4>Subheading</h4>
  	<p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>
 </div>
</div><!--end row4-->

<script>
$( function() {

});
</script>
{% endblock content %}
