{% extends "base.html" %}
{% load staticfiles %}
{% load sekizai_tags %}



{% block head_extra %}
<link rel='stylesheet' href='{% static "css/3d_atom.css" %}' />
<link rel='stylesheet' href='{% static "css/3d_atom2.css" %}' />
<link rel='stylesheet' href='{% static "css/3d_utgard1.css" %}' />
{% endblock head_extra %}

{% block style %}{% endblock style %}


{% block content %}

<div class="row"><!--row1-->
	<div class="col-lg-6"><!--row1 col1-->
		<h2>Animated atom</h2>
		<div class="Atom">
				<div class="Atom-nucleus">
				<div style="margin-left: -25px; margin-top: -50px; padding: 0px;">
					<p>232</p>
					<h1 style="margin: -15px 0px -5px 0px;"> UnX</h1>
					<p>232</p>
				</div>
				</div>
  				<div class="Atom-orbit Atom-orbit--left Atom-orbit--visible"></div>
  				<div class="Atom-orbit Atom-orbit--right Atom-orbit--visible"></div>
  				<div class="Atom-orbit Atom-orbit--top Atom-orbit--visible"></div>
  				<div class="Atom-orbit Atom-orbit--left Atom-orbit--foreground">
    				<div class="Atom-electron"></div>
  				</div>
  				<div class="Atom-orbit Atom-orbit--right Atom-orbit--foreground">
    				<div class="Atom-electron"></div>
  				</div>
  				<div class="Atom-orbit Atom-orbit--top Atom-orbit--foreground">
    				<div class="Atom-electron"></div>
  				</div>
		</div>
	</div>

	<div class="col-lg-6"><!--row1 col1-->
		<h2>Animated utgard logo</h2>
		<div class="ulogo1">
				<div class="ulogo1-nucleus"></div>
					<div class="ulogo1-text ulogo1-textbox" style="margin-left: -25px; margin-top: -50px; padding: 0px;">
						<p class="ulogo1-text ulogo1-smalltext">232</p>
						<h1 class="ulogo1-text ulogo1-maintext">U</h1>
						<p class="ulogo1-text ulogo1-smalltext">232</p>
					</div>

				<div class="ulogo1-orbit ulogo1-orbit--left ulogo1-orbit--visible"></div>
				<div class="ulogo1-orbit ulogo1-orbit--right ulogo1-orbit--visible"></div>
				<div class="ulogo1-orbit ulogo1-orbit--top ulogo1-orbit--visible"></div>
				<div class="ulogo1-orbit ulogo1-orbit--left ulogo1-orbit--foreground">
					<div class="ulogo1-electron"></div>
				</div>
				<div class="ulogo1-orbit ulogo1-orbit--right ulogo1-orbit--foreground">
					<div class="ulogo1-electron"></div>
				</div>
				<div class="ulogo1-orbit ulogo1-orbit--top ulogo1-orbit--foreground">
					<div class="ulogo1-electron"></div>
				</div>
		</div>
	</div>

</div><!--end row1-->
<br />
<br />
<br />
<br />
<br />
<br />

<div class="row"><!--row2-->
  <div class="col-lg-6"><!--row2 col1-->
	  <div class="section">
  			<div class="center"></div>

  			<div class="ring1">
    		<div></div>
  			</div>
  			<div class="ring2">
    		<div></div>
  			</div>
  			<div class="ring3">
    		<div></div>
  			</div>
	</div>
  </div>

  <div class="col-lg-6"><!--row2 col2-->
  </div>
</div><!--end row2-->
<br />


<script>
$( function() {

});
</script>
{% endblock content %}
