<!DOCTYPE html>
<html>
{% load staticfiles %}
{% load compress %}
{% load sekizai_tags %}

<head>
<meta charset="UTF-8" />

<title>{% block head_title %}{% endblock head_title %}</title>

<link rel="icon" href="{% static 'icons/favicon.ico' %}">

{% compress css file base %}
<link rel='stylesheet' href='{% static "vendor/bootstrap3/bootstrap.min.css" %}' />
<link rel='stylesheet' href='{% static "vendor/fonts/font-awesome.min.css" %}' />
<link rel='stylesheet' href='{% static "vendor/sidr/jquery.sidr.light.css" %}' >
<link rel='stylesheet' href='{% static "css/base.css" %}' />
{% endcompress %}

{% block head_extra %} {% endblock head_extra %}
{% render_block "css" postprocessor "compressor.contrib.sekizai.compress" %}
{% render_block "js" postprocessor "compressor.contrib.sekizai.compress" %}


{% compress js file base %}
<script type="text/javascript" src='{% static "vendor/jquery/jquery-3.2.1.js" %}'></script>
<script type="text/javascript" src='{% static "vendor/bootstrap3/bootstrap.min.js" %}'></script>-->
<script type="text/javascript" src='{% static "vendor/sidr/jquery.sidr.js" %}'></script>
<script type="text/javascript" src='{% static "vendor/js-cookie.js" %}'></script>
{% endcompress %}


<style>{% block style %}{% endblock style %}</style>
</head>

<body>

<header>
	<div class='container'>

		{% include "ULogo.html" %}
		<div style="height:275px">&nbsp;</div>

		<a class="nav-link" id="simple-menu" href="#sidr" style='position:'><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
		<nav class="navbar" role="navigation">
				<ul class="nav navbar-nav">
					<li class=""><a class="nav-link" href='{% url "main:homepage" %}'>Home</a></li>
		          	<li class=""><a class="nav-link" href='{% url "main:facilities" %}'>Facilities</a></li>
		  			<li class=""><a class="nav-link" href='{% url "main:projects" %}'>Projects</a></li>
		  			<li class=""><a class="nav-link" href='{% url "main:publications" %}'>Publications</a></li>
		  			<li class=""><a class="nav-link" href='{% url "main:contact" %}'>Contact</a></li>
	          	</ul>

	          	<form class="navbar-form navbar-right" role="search">
	              	<input type="text" class="form-control" placeholder="Search" />
	              	<button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-search"></span></button>
	            </form>
		</nav>

	</div>
</header>




<div class='container'>
<section>
{% block content %}
{% endblock content %}
</section>

<footer>
</footer>

</div><!--bootstrap contrainer-->

<div id="sidr" class="sidr-menu" style="">
<nav class="" role="navigation">
		<ul class="">
			<li class="sidr-menu-item"><a class="nav-link" href='{% url "main:homepage" %}'>Home</a></li>
			<li class="sidr-menu-item"><a class="nav-link" href='{% url "main:facilities" %}'>Facilities</a></li>
			<li class="sidr-menu-item"><a class="nav-link" href='{% url "main:projects" %}'>Projects</a></li>
			<li class="sidr-menu-item"><a class="nav-link" href='{% url "main:publications" %}'>Publications</a></li>
			<li class="sidr-menu-item"><a class="nav-link" href='{% url "main:contact" %}'>Contact</a></li>
		</ul>

		<form class="" role="search">
			<input type="text" class="form-control" placeholder="Search" />
			<br />
			<button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-search"></span></button>
		</form>
		<br />
		<a id="simple-menu2" href="#sidr" style='position:'>|||</a>
</nav>
</div><!--sidr div-->

<script>


$(document).ready(function() {

	// var cookieValue = Cookies.get('sidr_panel')
	//  	$.fn.usecookie = function() {
	// 	 	if (cookieValue === "open") {
		//		$( document.body ).hide();
		//		$.sidr( 'open', 'sidr', function() {
	//				$( document.body ).show();
	// 			})
	// 						}
	// 		else if (cookieValue === "closed") { }
	// 		else { }
	// 	}

  	$('#simple-menu2').sidr({
		name: 'sidr',
		side: 'left', // By default
	  	body:'#simple-menu',		//assign which elements should be displaced
	  	displace: false,
   	})

   	$('#simple-menu').sidr({
		name: 'sidr', //second button (in menu)
		displace: false,
		timing: 'ease-in-out',
		speed: 300,
		onClose: function() {
			//console.log("closed sidr menu");
		//	Cookies.set('sidr_panel', 'closed', { expires: 7 });
		//	var cookieValue = Cookies.get('sidr_panel')
			//console.log(cookieValue)
		   //var colr = $('#simple-menu').css("color" );
		   //console.log(colr);
	   	},
		onOpen: function() {
		  // 	console.log("opened sidr menu");
			//Cookies.set('sidr_panel', 'open', { expires: 7 });
		//	var cookieValue = Cookies.get('sidr_panel')
		//	console.log(cookieValue)
		   //$('#simple-menu').css("position", "absolute" );
		   //var posn = $('#simple-menu').css("position" );
		   //console.log(posn);
	   	}
	})
});

</script>
</body>
</html>
