{% load staticfiles %}
{% load sekizai_tags %}

{% block head_extra %}
<link rel='stylesheet' type="text/x-scss" href='{% static "scss/3d_utgard2.scss" %}' />
{% endblock head_extra %}

<div class="ULogo-box">
		<div class="ULogo">
				<div class="ULogo-nucleus"></div>
				<div class="ULogo-orbit ULogo-orbit--left ULogo-orbit--visible"></div>
				<div class="ULogo-orbit ULogo-orbit--right ULogo-orbit--visible"></div>
				<div class="ULogo-orbit ULogo-orbit--top ULogo-orbit--visible"></div>
				<div class="ULogo-orbit ULogo-orbit--left ULogo-orbit--foreground">
					<div class="ULogo-electron"></div>
				</div>
				<div class="ULogo-orbit ULogo-orbit--right ULogo-orbit--foreground">
					<div class="ULogo-electron"></div>
				</div>
				<div class="ULogo-orbit ULogo-orbit--top ULogo-orbit--foreground">
					<div class="ULogo-electron"></div>
				</div>
		</div>
</div>
